[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy-serializer = "*"
flask-migrate = "*"
flask-restful = "*"
importlib-metadata = "*"
importlib-resources = "*"
bcrypt = "*"
flask-cors = "*"
flask-session = "*"
requests = "*"
psycopg2-binary = "*"
flask-bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.8"
